* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.player-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.all-players,
.selected-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}
